html, body {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/* HOVER */

.img-container{
  width: 300px;
  height: 200px;
  overflow: hidden;


}
img:hover {
  width: 3%;

}

/* Imagens */

.formulario {
  left: 770px;
  top: 250px;
  float: right;
  position: absolute;
  width: 40px;
  -webkit-transition: width 1s ease, height 1s ease;
  padding-bottom: 10px;


}

.home{
  left: 620px;
  top: 250px;
  float: right;
  position: absolute;
  width: 40px;
  -webkit-transition: width 1s ease, height 1s ease;
}

.consultar{
  left: 920px;
  top: 250px;
  float: right;
  position: absolute;
  width: 40px;
  -webkit-transition: width 1s ease, height 1s ease;

}




#clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
#clock .date {
  letter-spacing: 0.1em;
  font-size: 24px;
}
#clock .text {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}


body {

  background: -webkit-gradient(linear, left bottom, right top, from(#2ca9fc), to(#004777));
  background: -webkit-linear-gradient(bottom left, #2ca9fc 0%, #004777 100%);
  background: -moz-linear-gradient(bottom left, #2ca9fc 0%, #004777 100%);
  background: -o-linear-gradient(bottom left, #2ca9fc 0%, #004777 100%);
  background: linear-gradient(to top right, #2ca9fc 0%, #004777 100%);

}